/.vs
/.vscode
/CMakePresets.json
/out
/build
/dependencies/hyper
/dependencies/UltraProtocol
/dependencies/uACPI
/dependencies/uHDA
/dependencies/flanterm/
/dependencies/freebsd-e1000/
/dependencies/include/
/dependencies/needs_download.cmake
/qemu_log.txt
/tar
/src/oboskrnl/inc/*
/.cache
/.clangd
/config/initrd.tar