# Misc
/.vs/*
/qemu_log.txt
/.vscode/
/gdb_config

# Dependencies
/dependencies/include
/dependencies/needs_download.cmake
/dependencies/limine
/dependencies/uacpi
/dependencies/ZyDis

# Build-related
/isodir/
/CMakePresets.json
/out
/CMakeFiles
*nppBackup*