################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CMakePresets.json
/out/build/x86_64-debug
/dependencies/hyper
/dependencies/include/UltraProtocol
