# This starter workflow is for a CMake project running on multiple platforms. There is a different starter workflow if you just want a single platform.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-single-platform.yml
name: Build OBOS.

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set reusable strings
      # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Get libgcc binaries
      run: |
        mkdir libgcc-binaries
        cd libgcc-binaries
        curl -LO https://github.com/osdev0/libgcc-binaries/releases/download/2025-08-21/libgcc-x86_64-no-red-zone.a
        cd ..

    - name: Install dependencies.
      run: |
        sudo apt-get update
        sudo apt-get install xorriso nasm
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 21

    - name: Make empty initrd.tar file
      run: touch ${{ github.workspace }}/config/initrd.tar

    - name: Configure CMake
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}/x86_64
        -DCMAKE_BUILD_TYPE=Release
        -DOBOS_USE_CLANG=ON
        -DOBOS_ENABLE_UBSAN=ON
        -DOBOS_CLANG_SUFFIX="-21"
        -DLIBGCC=`realpath libgcc-binaries/libgcc-x86_64-no-red-zone.a`
        --toolchain ${{ github.workspace }}/src/build/x86_64/toolchain.cmake
        -S ${{ github.workspace }}

    - name: Build
      working-directory: ${{ github.workspace }}/scripts
      run: |
          chmod +x ${{ github.workspace }}/dependencies/hyper/hyper_install-linux-x86_64
          cmake --build ${{ steps.strings.outputs.build-output-dir }}/x86_64 
          ./generate_initrd-x86_64.sh
          cmake --build ${{ steps.strings.outputs.build-output-dir }}/x86_64 
    - name: Archive code coverage results
      uses: actions/upload-artifact@v4
      with:
        name: obos-bin
        path: |
          ${{ github.workspace }}/out/obos.iso
          ${{ github.workspace }}/out/oboskrnl
          ${{ github.workspace }}/config/initrd.tar
# TODO: Tests
#    - name: Test
#      working-directory: ${{ steps.strings.outputs.build-output-dir }}
#      run: 
